video/1280x720.mp4 filter=lfs diff=lfs merge=lfs -text
video/1920x1080.mp4 filter=lfs diff=lfs merge=lfs -text
video/400x225.mp4 filter=lfs diff=lfs merge=lfs -text
video/640x360.mp4 filter=lfs diff=lfs merge=lfs -text
video/960x540.mp4 filter=lfs diff=lfs merge=lfs -text
video/poster.jpg filter=lfs diff=lfs merge=lfs -text
video/sources filter=lfs diff=lfs merge=lfs -text
video/1600x765.mp4 filter=lfs diff=lfs merge=lfs -text
video/710x535.mp4 filter=lfs diff=lfs merge=lfs -text
video/920x620.mp4 filter=lfs diff=lfs merge=lfs -text
video/990x430.mp4 filter=lfs diff=lfs merge=lfs -text
video/sources/920x620-source.mp4 filter=lfs diff=lfs merge=lfs -text
video/sources/990x430-source.mp4 filter=lfs diff=lfs merge=lfs -text
video/sources/original.mp4 filter=lfs diff=lfs merge=lfs -text
video/sources/1600x765-source.mp4 filter=lfs diff=lfs merge=lfs -text
video/sources/710x535-source.mp4 filter=lfs diff=lfs merge=lfs -text
video filter=lfs diff=lfs merge=lfs -text
video/ filter=lfs diff=lfs merge=lfs -text
video/1920x765.mp4 filter=lfs diff=lfs merge=lfs -text
video/sources/1920x765-source.mp4 filter=lfs diff=lfs merge=lfs -text
video/low-motion/ filter=lfs diff=lfs merge=lfs -text
video/low-motion/990x430.mp4 filter=lfs diff=lfs merge=lfs -text
video/low-motion/1600x765.mp4 filter=lfs diff=lfs merge=lfs -text
video/low-motion/1920x766.mp4 filter=lfs diff=lfs merge=lfs -text
video/low-motion/710x535.mp4 filter=lfs diff=lfs merge=lfs -text
video/low-motion/920x620.mp4 filter=lfs diff=lfs merge=lfs -text
